.login-main-div{
    width: 100%;
    height: 100%;
}

.login-btn{
    font-weight: 600;
    color: white;
    padding: 7px 0;
    border-radius: 7px;
    font-size: 1.1rem;
    background: rgb(80,23,148);
    background: linear-gradient(63deg, rgba(80,23,148,1) 10%, rgba(62,112,161,1) 111%);
}