.transition-height {
    transition: max-height 0.7s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
}

.collapsed {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
}

.expanded {
    max-height: 500px; 
    opacity: 1;
    transform: scaleY(1);
}
