.transition-height {
    transition: max-height 0.7s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
}

.collapsed {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
}

.expanded {
    max-height: 500px; 
    opacity: 1;
    transform: scaleY(1);
}

.billing-table{
    width: 100%;
    font-size: 0.8rem;
    margin-top: 5px;
    border-collapse: collapse;
}

.billing-table td{
    /* border: 1px solid ; */
    border-top: none;
}

.billing-input{
    width: 100%;
    padding: 0.2rem 0;
    font-weight: 500;
    text-align: center;
}

.gradient-btn{
    font-weight: 600;
    color: white;
    padding: 7px 0;
    border-radius: 7px;
    font-size: 1.1rem;
    background: rgb(80,23,148);
}

