

.bg{
    background-image: url('/public/image/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.skeleton {
    background: #e0e0e0;
    border-radius: 4px;
    margin: 0.2rem 0;
    min-height: 16px;
    width: 100%;
    animation: pulse 1.5s infinite;
}

.skeleton.circle {
    border-radius: 50%;
    height: 96px;
    width: 96px;
}

.skeleton.heading {
    height: 10px;
    width: 50%;
    margin: 10px 0;
}
.skeleton.text {
    height: 5px;
}


@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #f0f0f0;
    }
    100% {
        background-color: #e0e0e0;
    }
}
